{
    //使用ES6
    "presets": [
        "stage-3",
        "es2015",
        "stage-0",
        "react"
    ],
    //使用async await
    "plugins": [
        "transform-runtime",
        "transform-async-to-generator"
    ],
    "env": {
        "development": {
            "presets": ["react-hmre"]
        }
    }
}