* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix {
    clearfix: both;
}

.wrap {
    /*-2 去除上边框与head的距离*/
}

header
{   
    position: fixed;
    left:0;
    top:0;
    height: 50px;
    background: black;
    color: white;
    width: 100%;
    z-index: 100;
}

header h1
{   
    display: inline;
    margin-left: 250px;
    font-size: 30px;
    line-height: 50px;
}
header h2 {
    display: inline;
    margin-left: 30px;
    font-size: 20px;
}
/*img.head-logo  {
    width: 450px;
    height: 187px;
}

img.left {
    margin-left: 100px; 
}
img.right {
    margin-right: 100px; 
}*/

div.content
{
    position: relative;
    margin-top: 50px;
}

div.livewebs
{   
    position: fixed;
    left: 0;
    top: 50px;
    width: 250px;
    height: 100%;
    background: #404040;
}

div.livewebs ul {
    margin: 20px 0;
    text-align: center;
}

div.livewebs ul li
{
    margin: 5px auto;
    width: 100px;
    background: #333;
    font-size: 18px;
    color: white;
    border: 1px solid #ccc;
}
div.livewebs ul li a {
    color: white;
}

div.livewebs ul li:hover {
    background: #EE2C2C;
}
div.live-list
{
    margin-left: 250px;
    margin-right: 300px;
    left: 18%;
    min-height: 1000px;
    border: 1px solid black;
    background: #eee;
}

li.live-item {
    display: inline-block;
    width: 280px;
    margin: 5px;
    background: white;
    position: relative;
}

img.live-img
{
    width: 280px;
    height: 17 0px;
}

div.live-chart
{   
    margin-right: 300px; 
    min-height: 1000px;
}
a.li-a
{
    position: relative;
    display: block;
}
li.live-item:hover
{
    box-shadow: 3px 3px 3px #ccc;
}
div.live-title
{
    color: #555;
    font-size: 13px;
    font-family: Arial;
    margin-left: 7px;
}
div.live-name-nums
{   
    color: #888;
    font-size: 17px;
    padding: 8px;
    height: 17px;
}
span.live-name
{
    text-indent: 20px;
    line-height: 17px;
    background: url("../img/avatar.svg") no-repeat;
    background-size: 15px 15px;
    font-size: 11px;
}
span.live-nums
{
    text-indent: 20px;
    line-height: 17px;
    background: url("../img/nums_img.svg") no-repeat;
    background-size: 17px 17px;
    font-size: 11px;
}
div.mask
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    background: url('../img/play.svg') no-repeat 50% 25%;
    background-size: 70px 70px;
}
div.mask:hover
{
    opacity: .8;
}
footer.foot
{
    position: fixed;
    top: 100%;
    margin-top: -35px;
    height: 35px;
    width: 100%;
    line-height: 35px;
    text-align: center;
    background: black;
    color: white;
    font-size: 20px;
}