* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix {
    clearfix: both;
}

.wrap {
    /*-2 去除上边框与head的距离*/
}

header
{
    height: 130px;
    text-align: center;
    background: black;
    color: white;
}

header h1
{   
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin: 10px auto 10px;
    border: 1px solid white;
    width: 180px;
}
header h2 {
    padding: 4px;
    height: 30px;
}
/*img.head-logo  {
    width: 450px;
    height: 187px;
}

img.left {
    margin-left: 100px; 
}
img.right {
    margin-right: 100px; 
}*/

div.content
{
    position: relative;
}

div.livewebs
{
    width: 250px;
    background: #404040;
    min-height: 1000px;
}

div.livewebs ul {
    margin: 20px 0;
    text-align: center;
}

div.livewebs ul li
{
    margin: 5px auto;
    width: 100px;
    background: #333;
    font-size: 18px;
    color: white;
    border: 1px solid #ccc;
}
div.livewebs ul li a {
    color: white;
}

div.livewebs ul li:hover {
    background: #EE2C2C;
}
div.liveinfos
{
    margin-left: 250px;
    margin-right: 300px;
    left: 18%;
    min-height: 1000px;
    border: 1px solid black;
    background: #ccc;
}

div.live-chart
{   
    margin-right: 300px; 
    min-height: 1000px;
}

footer.foot
{
    position: fixed;
    top: 100%;
    margin-top: -35px;
    height: 35px;
    width: 100%;
    line-height: 35px;
    text-align: center;
    background: black;
    color: white;
    font-size: 20px;
}