* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix {
    clearfix: both;
    overflow: hidden;
}

header
{   
    position: fixed;
    left:0;
    top:0;
    height: 50px;
    background: black;
    color: white;
    width: 100%;
    z-index: 100;
}

header h1
{   
    display: inline;
    margin-left: 250px;
    font-size: 30px;
    line-height: 50px;
}
header h2 {
    display: inline;
    margin-left: 30px;
    font-size: 20px;
}
/*img.head-logo  {
    width: 450px;
    height: 187px;
}

img.left {
    margin-left: 100px; 
}
img.right {
    margin-right: 100px; 
}*/

div.content
{
    position: relative;
    margin-top: 50px;
}

div.livewebs
{   
    position: fixed;
    left: 0;
    top: 50px;
    width: 200px;
    height: 100%;
    background: #404040;
}

.btn-refresh
{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background: #ccc;
    background: url("../img/refresh.svg") no-repeat center;
    background-size: 30px 30px;
}

.livewebs ul {
    margin: 20px 0;
    text-align: center;
}

.livewebs ul li
{
    margin: 10px auto;
    width: 100px;
    background: #223;
    font-size: 18px;
    color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.livewebs a {
    display: block;
    color: white;
    width: 100%;
}

.livewebs li:hover,
.livewebs li.checked
{
    background: #EE2C2C;
}

.live-list
{   
    position: absolute;
    margin-left: 200px;
    background: #f8f8f8;
}

ul.ul-live-list
{   
    position: relative;
    overflow: hidden;
    margin-right: 260px;
    margin-top: 20px;
}
li.live-item {
    display: inline-block;
    width: 280px;
    height: 220px;
    margin: 0 5px 10px;
    background: white;
    position: relative;
}

img.live-img
{
    width: 280px;
    height: 165px;
}

a.li-a
{
    position: relative;
    display: block;
    color: #555;
}
a.li-a:hover
{
    color: red;
}
li.live-item:hover
{
    box-shadow: 3px 3px 3px #ccc;
}
div.live-title
{
    font-size: 13px;
    font-family: Arial;
    margin-left: 7px;
}
div.live-name-nums
{   
    color: #888;
    font-size: 17px;
    padding: 8px;
    height: 17px;
    position: relative;
}
span.live-name
{
    text-indent: 20px;
    line-height: 17px;
    background: url("../img/avatar.svg") no-repeat;
    background-size: 15px 15px;
    font-size: 11px;
}
span.live-nums
{   
    text-indent: 20px;
    line-height: 17px;
    background: url("../img/nums_img.svg") no-repeat;
    background-size: 17px 17px;
    font-size: 11px;
}
div.mask
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    background: url('../img/play.svg') no-repeat 50% 25%;
    background-size: 70px 70px;
}
div.mask:hover
{
    opacity: .8;
}

aside.rank
{
    position: fixed;
    top: 70px;
    left: 100%;
    width: 250px;
    height: 750px;
    background: white;
    padding: 0;
    border: 1px solid #ccc;
    overflow: scroll;
}
aside.rank h3
{   
    margin-top: 5px;
    text-align: center;
}
aside.rank ul
{   
    margin-top: 5px;
    margin-left: 5px;
}
li.rank-item
{   
    position: relative;
    width: 225px;
    /*margin: 5px auto;*/
    overflow: hidden;
}
li.rank-item a.rank-link
{   
    display: block;
    color: black;
}
li.rank-item a.rank-link:hover
{
    color:red;
}
li.rank-item div.rank-person
{
    color: #555;
    font-size: 13px;
    margin-top: 5px;
}
li.rank-item span.rank-nums
{   
    float: right;
    width: 75px;
    line-height: 20px;
    text-indent: 20px;
    background: url("../img/nums_img.svg") no-repeat;
    background-size: 17px 17px;
}
li.rank-item span.rank-name
{   
    display: inline-block;
    width: 135px;
    line-height: 20px;
    text-indent: 17px;
    background: url("../img/avatar.svg") no-repeat 0 2px;
    background-size: 15px 15px;
}
li.rank-item div.rank-title
{
    font-size: 14px;
}
li.rank-item div.rank-website
{
    text-indent: 20px;
    font-size: 13px;
    color: #555;
    background: url("../img/website.svg") no-repeat 0 50%;
    background-size: 13px 13px;
}
li.rank-item:before
{
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    margin-top: 5px;
    background: #ccc;
}