#app {
    height: 100%;
    width: 100%;
}

.header-nav {
    padding-top: 20px;
}

.category-live-wrap {
    width: 70%;
    height: 100%;
    border-right: 1px solid $activityColor;
    flex-direction: column;
    .nav-bar{
        border-radius: 0;
    }
}
.live-list-wrap {
    flex-grow: 1;
}
.main-content {
    border-top: 1px solid $activityColor;
}

.live-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.live-item {
    width: 250px;
    height: 150px;
    border: 1px solid black;
    background: sienna;
    margin: 5px 10px;
}