@font-face {
  font-family: 'iconfont';  /* project id 269450 */
  src: url('//at.alicdn.com/t/font_ao0uawby2z2awcdi.eot');
  src: url('//at.alicdn.com/t/font_ao0uawby2z2awcdi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_ao0uawby2z2awcdi.woff') format('woff'),
  url('//at.alicdn.com/t/font_ao0uawby2z2awcdi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_ao0uawby2z2awcdi.svg#iconfont') format('svg');
}
.iconfont {
	font-family: "iconfont" !important;
	cursor: pointer;
	font-style: normal;
	font-size: 14px;
}

.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
